spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: my-secret-key-my-secret-key-my-secret-key
  r2dbc:
    url: r2dbc:h2:mem:///moviedb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true
      path: /h2-console

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false


server:
  port: 8081
